<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Web Scraper</title>
</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<header>
		<h1 >Web Scraper</h1>
		<form action="/scrape" method="GET">
			<button type="submit" id="refresh-articles">Scrape
		</form>
	</header>
		{{{ body }}}
</body>
</html>